<!-- templates/store/product_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="html, css, 網頁, JS, javascript">
    <meta name="description" content="Here is my page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joy">

    <!-- bootstrap js 字型-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- css -->
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    {% block script %}
    <script src="{% static 'js/script.js' %}"></script>
    <!--網站小圖示-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!--歸零CSS-->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <!--變數設定CSS-->
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <!--版面設定CSS-->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
   {% endblock %}
    <title>{% block title %}Product List{% endblock %}</title>
    
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 自定义 CSS -->
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    {% include "header.html" %}
    <!--橫幅圖片-->
    <div class="hero-image" style="background-image: url(../img/banner1.jpg);">
        <div class="hero-text">
            <h1 class="font-size-50 line-height_15">Fashion HIHI</h1>
            <p class="margin_bottom-20">The ocean gave birth to countless lives.</p>
            <button>Visit it!</button>
        </div>
    </div>

    <!--滿版文字區塊-->
    <div class="full_layout bg_piggy">
        <div id="maintxt">
            <h2 class="color_pink">About Us</h2>
            <p>The ocean gave birth to countless lives.There are many creatures in the ocean that humans don't understand.</p>
            <p>The ocean gave birth to countless lives.There are many creatures in the ocean that humans don't understand.</p>
        </div>
    </div>
    <!--LOGO區塊-->
    <div id="mainpic">
        <div class="item1"><img src="{% static 'img/logo1.png' %}" alt="" class="pic_transform"></div>
        <div class="item2"><img src="{% static 'img/logo1.png' %}" alt="" class="pic_transform"></div>
        <div class="item3"><img src="{% static 'img/logo1.png' %}" alt="" class="pic_transform"></div>
        <div class="item4"><img src="{% static 'img/logo1.png' %}" alt="" class="pic_transform"></div>
        <div class="item5"><img src="{% static 'img/logo1.png' %}" alt="" class="pic_transform"></div>
    </div>
    <!--表單+地圖區塊-->
    <div class="full_layout bg_piggy padding_v3">
        <div id="main-content">
            <h2 class="color_pink">Contact Us</h2>
            <div id="contact_form">
                <form method="post" action="">
                    <input type="text" name="username" id="username" placeholder="Your name">
                    <input type="text" name="usermail" id="email" placeholder="Your Email">
                    <input type="text" name="userphone" id="phone" placeholder="Your Phone">
                    <textarea name="useropinion" id="useropinion" placeholder="Leave Your Message Here"></textarea>
                    <input type="submit" value="submit" class="button_pink-gradient cursor_pointer" 
                        onclick="alert('Thank You!\n We will respond ASAP!')">
                </form>
            </div>
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3700.3508448291436!2d120.76097817515611!3d21.959493829933095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3471b1abaefd19b9%3A0x77b6609498f2b08f!2z5Y2X54Gj6YGK5oap5Y2A!5e0!3m2!1szh-TW!2stw!4v1689080994719!5m2!1szh-TW!2stw" width="98%" height="445" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <!--頁尾區塊-->
    <div id="footer">
        <div id="copyright">
            <small>Copyrught 2020Fashion HIHI </small>
            <a href="tel:+8801886-666581">tel:+8860912345678</a>
        </div>
        <div id="sns">
            <a href="https://www.facebook.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-fb.png' %}" alt=""></a>
            <a href="https://www.instergram.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-ig.png' %}" alt=""></a>
            <a href="https://www.linkedin.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-linkedin.png' %}" alt=""></a>
            <a href="https://www.skype.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-skype.png' %}" alt=""></a>
            <a href="https://www.twitter.com/fashionvillage/" targe="_blank"><img src="{% static 'img/ion-twitter.png' %}" alt=""></a>
        </div>
    </div>
        <!--GOTOP區塊-->
        <div id="gotop">
            <a href="#"><span class="material-icons">arrow_circle_up</span>
                <span class="gotip">Go Back To Top</span>
            </a>
        </div>
    </div>
</body>

</html>