<header>
  <div class='container'>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        {% load static %}
        <a class="navbar-brand"><img src="{% static 'img/noun-cloth.png' %}" width='100'></a>
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'product_list' %}">首頁</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'about' %}">關於我們</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    最新商品
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">韓流女裝</a></li>
                    <li><a class="dropdown-item" href="#">潮牌男裝</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">特價商品</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_cart' %}">顯示購物車</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'checkout' %}">結帳</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary btn-sm" type="submit">搜尋</button>
              </form>
            </div>
        </div>
    </nav>
  </div>
</header>
